{% extends "base.html.twig" %}
{% use "menu_trainer_home_page.html.twig" %}
{% block content %}
        <div class="background" id="background">
        {% include "flash_messages.html.twig" %}
        <div class="main_content">
          <div class="center_content">
            <div class="grid_panel">
              <div class="user_trainings_list">
                <div class="row text-center pt-4 pl-4 pr-4 pb-4">
                  <h2>Tu znajdują się <span class="text-success">plany treningowe</span> stworzone przez ciebie</h2>
                </div>
                <div class="row text-center pt-4 pl-4 pr-4 pb-4">
                  <table class="table">
                    <tr>
                      <th>Imię i Nazwisko</th>
                      <th>Nazwa Planu</th>
                      <th colspan="1">Akcje</th>
                    </tr>
                      {% for participantPlan in participantsWithPlans %}
                      <tr>
                        <td> {{ participantPlan.firstName }} {{ participantPlan.lastName }} </td>
                        <td> {{ participantPlan.planName }} </td>
                        <td><a href="{{ path("remove_access_for_training_plan", {'trainingPlanAccess': participantPlan.idAccess, 'trainingPlan': participantPlan.idTrainingPlan })}}" class="text-dark">Odepnij od planu<i class="fas fa-user-times fa-x2 pl-2"></i></a></td>
                    </tr>
                      {% endfor %}
                    </table>
                </div>
            </div>
          </div>
        </div>
        </div>
        </div>
{% endblock %}