{% if notificationValue is null %}

{% else %}
<div class="d-flex "><span class="m-1 text-light">{{ notificationValue }}</span><span class="badge badge-light m-2 ">{{ notificationName }}</span></div>
{% endif %}