{% extends "base.html.twig" %}
{% use "menu_home_page.html.twig" %}
{% block content %}
        <div class="background" id="background">
        <div class="main_content">
          <div class="center_content">
            <div class="big_text_baner">
              Sukces to suma niewielkiego wysiłku powtarzanego z <span> dnia </span> na <span>dzień</span><br>

            </div>

            <div class="main_page_trainers_baner_center">
              Nasi <span>Trenerzy</span><br>
              <i class="fas fa-dumbbell fa-2x"></i>
            </div>
            <div class="grid_panel_cover">
            <div class="grid_panel_main">
              <div class="grid_panel_item text-center">
                <img src="../images/trainer_profile.jpg" class="img-thumbnail pt-2 pb-2 pl-2 pr-2 mt-4" width="200px" height="250px"></img>
                <div class="trainer_main_bio">
                  <span class="trainer_name">Bartosz Ozga</span>
                  <p class="trainer_description">lorem ipsum ipsum lorem dupadupa dupa
                    lorem ipsum ipsum lorem dupadupa dupa
                    lorem ipsum ipsum lorem dupadupa dupa
                    lorem ipsum ipsum lorem dupadupa dupa
                    lorem ipsum ipsum lorem dupadupa dupa
                  </p>
                  <a href="#" class="text-dark"><i class="fab fa-facebook-square fa-2x"></i></a>
                  <a href="#" class="text-dark"><i class="fab fa-instagram-square fa-2x"></i></a>
                </div>
              </div>

              <div class="grid_panel_item text-center">
                <img src="../images/trainer_profile.jpg" class="img-thumbnail pt-2 pb-2 pl-2 pr-2 mt-4" width="200px" height="250px"></img>
                <div class="trainer_main_bio">
                  <span class="trainer_name">Bartosz Ozga</span>
                  <p class="trainer_description">lorem ipsum ipsum lorem dupadupa dupa
                    lorem ipsum ipsum lorem dupadupa dupa
                    lorem ipsum ipsum lorem dupadupa dupa
                    lorem ipsum ipsum lorem dupadupa dupa
                    lorem ipsum ipsum lorem dupadupa dupa
                  </p>
                  <a href="#" class="text-dark"><i class="fab fa-facebook-square fa-2x"></i></a>
                  <a href="#" class="text-dark"><i class="fab fa-instagram-square fa-2x"></i></a>
                </div>
              </div>

              <div class="grid_panel_item text-center">
                <img src="../images/trainer_profile.jpg" class="img-thumbnail pt-2 pb-2 pl-2 pr-2 mt-4" width="200px" height="250px"></img>
                <div class="trainer_main_bio">
                  <span class="trainer_name">Bartosz Ozga</span>
                  <p class="trainer_description">lorem ipsum ipsum lorem dupadupa dupa
                    lorem ipsum ipsum lorem dupadupa dupa
                    lorem ipsum ipsum lorem dupadupa dupa
                    lorem ipsum ipsum lorem dupadupa dupa
                    lorem ipsum ipsum lorem dupadupa dupa
                  </p>
                  <a href="#" class="text-dark"><i class="fab fa-facebook-square fa-2x"></i></a>
                  <a href="#" class="text-dark"><i class="fab fa-instagram-square fa-2x"></i></a>
                </div>
              </div>

            </div>
            </div>
            <div class="main_page_trainers_baner_center_2">
              Jesteś <span>Trenerem</span>?<br>
              Mamy coś dla <span>ciebie</span>
            </div>

            <div class="grid_panel">

              <div class="grid_panel_item_main_icons">
                <i class="fas fa-clipboard-list fa-10x"></i>
                <h2 class="main_icon_title">Plany Treningowe</h2>
                <p class="main_icon_description">
                  Twórz i wysyłaj swoim podopiecznym najlepsze plany treningowe dzięki naszej aplikacji!
                </p>
              </div>

              <div class="grid_panel_item_main_icons">
                <i class="fas fa-carrot fa-10x"></i>
                <h2 class="main_icon_title">Dieta na każdy dzień</h2>
                <p class="main_icon_description">
                  Trzymanie się diety nigdy nie było prostsze!
                </p>
              </div>

              <div class="grid_panel_item_main_icons">
                <i class="fas fa-running fa-10x"></i>
                <h2 class="main_icon_title">Zaproś swoich podopiecznych</h2>
                <p class="main_icon_description">
                  Pomożemy poprowadzić ci nie ograniczoną liczbę podopiecznych!
                </p>
              </div>
            </div>

            </div>
          </div>
        </div>
{% endblock %}